[submodule "source/ARMZ80"]
	path = source/ARMZ80
	url = https://github.com/FluBBaOfWard/ARMZ80.git
[submodule "source/N2A03"]
	path = source/N2A03
	url = https://github.com/FluBBaOfWard/N2A03.git
[submodule "source/VLM5030"]
	path = source/VLM5030
	url = https://github.com/FluBBaOfWard/VLM5030.git
[submodule "source/Shared"]
	path = source/Shared
	url = https://github.com/FluBBaOfWard/NDS_Shared.git
